.footer {
    background-color: #6278f7;
    min-height: 200px;
    display: flex;
    color: #f2f2f2;
    width: 100%;
    box-sizing: border-box;
    
}

.footer div {
    margin: auto;
    font-size: 24px;
}

.footer .icones img {
    margin: 24px;
}